@{
    ViewBag.Title = "Account Setup";
    ViewBag.Current = "AccountSetup";
}


<div>
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4">
                <h4>ACCOUNT SETUP</h4>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-4">

            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-5">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="ddlType" class="col-lg-3 control-label">Type</label>
                                    <div class="col-lg-7">
                                        <input id="ddlAccountType" value="1" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtAccountName" class="col-lg-3 control-label">Account Name</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" id="txtAccountName" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtContactNo" class="col-lg-3 control-label">Contact No</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" id="txtContactNo" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">
                                Add Users
                            </h3>

                            <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addUsersModel">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                        <div id="grdUsers">

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
            
            
              <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title pull-left">
                                                    Stamp Duty
                                                </h3>

                                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addStampDuty">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div id="grdStampDuty"></div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title pull-left">
                                                    Lawyer Fee - Deed Ledger
                                                </h3>

                                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addLawyerFee">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>
                                                      <div id="grdLawyerFee"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title pull-left">
                                                    Deed Types
                                                </h3>

                                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addDeedType">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>
                                                    <div id="grdDeedType"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title pull-left">
                                                    Case Types
                                                </h3>

                                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addCaseType">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>
                                                <div id="grdCaseType"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title pull-left">
                                                    Courts
                                                </h3>

                                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addCourt">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>
                                             <div id="grdCourt"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title pull-left">
                                                    Archive
                                                </h3>

                                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addUsersModel">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>    
                
          
       
    </div>
</div>

<div id="carousel-example-generic" class="carousel slide" >
        <div class="carousel-inner">
            <div class="item active">
                          
            </div>
                    <div class="item">
                        <img src="http://placehold.it/1200x315" alt="...">
                        <div class="carousel-caption">
                            <h3>Caption Text</h3>
                        </div>
            </div>
        </div>
        
        
                <!-- Controls -->
        <a class="left carousel-control"  href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    
   <!--<div class="owl-carousel">
            <div>
                 1stasd sadsa sad sadas dsa
                 AS dsadsadsa dsa
                 sa dsa sad sa dsa 
                 as d
            </div>
           
            <div>
                2nd panle asd
                AS dsaSA
                D 
                as D
                sa D
                sa 
                dSA D
                
            </div>
   </div>  -->

<!-- Modal popup area -->
<div class="modal fade" tabindex="-1" id="addUsersModel" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtUserName" class="col-lg-4 control-label">Name</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtUserName" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtAddress" class="col-lg-4 control-label">Address</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtAddress" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtEmail" class="col-lg-4 control-label">Email</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtEmail" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtContactNumber" class="col-lg-4 control-label">Contact Number</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtContactNumber" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ddlDesignation" class="col-lg-4 control-label">Designation</label>
                                        <div class="col-lg-8">
                                            <input id="ddlDesignation" value="1" style="width: 100%;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ddlRole" class="col-lg-4 control-label">Role</label>
                                        <div class="col-lg-8">
                                            <input id="ddlRole" value="1" style="width: 100%;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-step">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Stamp duty popup-->
<div class="modal fade" tabindex="-1" id="addStampDuty" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Stamp Duty</h4>
            </div>
            <div class="modal-body">
                   <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageStampDuty"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtRange" class="col-lg-2 control-label">Range</label>
                                        <input id="hdnStampDutyId" type="hidden">
                                        <input id="hdnUUID" type="hidden">
                                        <div class="col-lg-3">
                                            <input class="form-control" id="txtRangeMin" type="text" placeholder="Min">
                                        </div>
                                        <div class="col-lg-4">
                                             <input id="chkAny" type="checkbox" >
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control" id="txtRangeMax" type="text" placeholder="Max">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtPercentage" class="col-lg-4 control-label">Percentage</label>
                                        <div class="col-lg-4">
                                            <input id="txtPercentage" class="form-control" type="text">
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-stampDuty">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lawyer Fee popup-->
<div class="modal fade" tabindex="-1" id="addLawyerFee" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Lawyer Fee</h4>
            </div>
            <div class="modal-body">
                   <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageLawyerFee"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtLawyerFeeRange" class="col-lg-2 control-label">Range</label>
                                        <input id="hdnLawyerFeeId" type="hidden">
                                      
                                        <div class="col-lg-3">
                                            <input class="form-control" id="txtLawyerFeeRangeMin" type="text" placeholder="Min">
                                        </div>
                                        <div class="col-lg-4">
                                             <input id="chkLawyerFeeAny" type="checkbox" >
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control" id="txtLawyerFeeRangeMax" type="text" placeholder="Max">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtLawyerFeePercentage" class="col-lg-4 control-label">Percentage</label>
                                        <div class="col-lg-4">
                                            <input id="txtLawyerFeePercentage" class="form-control" type="text">
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-LawyerFee">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lawyer Fee popup-->
<div class="modal fade" tabindex="-1" id="addDeedType" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Deed Type</h4>
            </div>
            <div class="modal-body">
                   <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageDeedType"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtDeedType" class="col-lg-4 control-label">Type</label>
                                         <input id="hdnDeedTypeId" type="hidden">
                                        <div class="col-lg-4">
                                            <input id="txtDeedType" class="form-control" type="text">
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-DeedType">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lawyer Fee popup-->
<div class="modal fade" tabindex="-1" id="addCaseType" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Case Type</h4>
            </div>
            <div class="modal-body">
                   <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageCaseType"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtCaseType" class="col-lg-4 control-label">Type</label>
                                         <input id="hdnCaseTypeId" type="hidden">
                                        <div class="col-lg-4">
                                            <input id="txtCaseType" class="form-control" type="text">
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-CaseType">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lawyer Fee popup-->
<div class="modal fade" tabindex="-1" id="addCourt" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Court</h4>
            </div>
            <div class="modal-body">
                   <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageCourt"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtCourt" class="col-lg-4 control-label">Court Name</label>
                                         <input id="hdnCourtId" type="hidden">
                                        <div class="col-lg-4">
                                            <input id="txtCourt" class="form-control" type="text">
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-Court">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
