@using Welkin.UI.Models
@{
    ViewBag.Title = "Scheduler";
    ViewBag.Current = "Scheduler";
}
<div>
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4">
                <h4>ACCOUNT SETUP</h4>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-9">
                   <div id="team-schedule">
                    <div id="people">
                        <input checked type="checkbox" id="alex" value="1">
                        <input checked type="checkbox" id="bob" value="2">
                        <input type="checkbox" id="charlie" value="3">
                    </div>
                </div>
                <div id="scheduler"></div>
   
                </div>
                <div class="col-lg-3">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">Cases for tommorow</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="badge">12</span> Land</li>
                                    <li class="list-group-item"><span class="badge">5</span> Partition</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Reports</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Deed Ledger</li>
                                    <li class="list-group-item">Monthly Ledger</li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">Case Ledger</li>
                                    <li class="list-group-item">Monthly Ledger</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Quick actions</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Borrow Deed</li>
                                    <li class="list-group-item">Payment for Case</li>
                                    <li class="list-group-item">Payment for Deed</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script>
var datas = [];
 $("#scheduler").kendoScheduler({
      editable: {
    template: $("#editor").html()
  },
  date: new Date("2016/2/23"),
  dataSource: [],
  save:save,
  resources: [
    {
      field: "atendees",
      multiple: true,
      dataSource: [
        { text: "Alex", value: 1 },
        { text: "Bob", value: 2 },
        { text: "Charlie", value: 3 }
      ]
    }
  ]
});


function save(e){
    debugger;
    
    var task = {};
      
    task.taskId = "";
    task.title = e.event.title;
    task.atendees = e.event.atendees;
    task.start = e.event.start;
    task.end = e.event.end;
    datas.push(task);
    
      var dataSource = new kendo.data.SchedulerDataSource({
                data: datas
            });
            
        var scheduler = $("#scheduler").data("kendoScheduler");
        scheduler.setDataSource(dataSource);

}

</script>-->










<script id="editor" type="text/x-kendo-template">
   <h3>Edit meeting</h3>
   <p>
       <label>Title: <input name="title" /></label>
   </p>
   <p>
       <label>Start: <input data-role="datetimepicker" name="start" /></label>
   </p>
   <p>
       <label>End: <input data-role="datetimepicker" name="end" /></label>
   </p>
</script>

<style>

.k-nav-current > .k-link span + span {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

#team-schedule {
    background: url('../content/web/scheduler/team-schedule.png') transparent no-repeat;
    height: 115px;
    position: relative;
}

#people {
    background: url('../content/web/scheduler/scheduler-people.png') no-repeat;
    width: 345px;
    height: 115px;
    position: absolute;
    right: 0;
}
#alex {
    position: absolute;
    left: 4px;
    top: 81px;
}
#bob {
    position: absolute;
    left: 119px;
    top: 81px;
}
#charlie {
    position: absolute;
    left: 234px;
    top: 81px;
}
</style>