@{
    ViewBag.Title = "Deed Ledger";
    ViewBag.Current = "DeedLedger";
}
<div>
<div class="page-header">
    <div class="row">
        <div class="col-lg-4">
            <h4>DEED LEDGER <span>2015-16</span></h4>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" id="txt-search-deed-no" placeholder="Deed No">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btn-search-deed">Go!</button>
                    </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>

<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form"  id="fmDeed">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="ddlType" class="col-lg-3 control-label">Type</label>
                        <div class="col-lg-7">
                            <input id="ddlType"  style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="ddlGrantee" class="col-lg-3 control-label">Grantee</label>
                        <div class="col-lg-7">
                            <input id="ddlGrantee"  style="width: 100%;"/>
                        </div>
                        <button type="button" class="btn btn-default col-lg-1" data-toggle="modal" data-target="#addGranteeModel" id="btnGranteePopup" disabled>
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="txtDeedNo" class="col-lg-3 control-label">Deed No</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="txtDeedNo" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="ddlGrantor" class="col-lg-3 control-label">Grantor</label>
                        <div class="col-lg-7">
                            <input id="ddlGrantor"  style="width: 100%;"/>
                        </div>
                        <button type="button" class="btn btn-default col-lg-1" data-toggle="modal" data-target="#addGrantorModel" id="btnGrantorPopup" disabled>
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="txtNameOfLand" class="col-lg-3 control-label">Name of land</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="txtNameOfLand" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="ddlDistrict" class="col-lg-3 control-label">District</label>
                        <div class="col-lg-7">
                            <input id="ddlDistrict"  style="width: 100%;"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="txtConsideration" class="col-lg-3 control-label">Consideration</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="txtConsideration" type="text" >
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="txtFee" class="col-lg-3 control-label">Fee</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="txtFee" type="text" >
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="txtStampDuty" class="col-lg-3 control-label">Stamp Duty</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="txtStampDuty" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="type" class="col-lg-3 control-label">Date</label>
                        <div class="col-lg-7">
                            @(Html.Kendo().DatePicker()
                                  .Name("date")
                                  .Value(DateTime.Today)
                                  .HtmlAttributes(new {style = "width: 100%"})
                                  )
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="txtRemarks" class="col-lg-3 control-label">Remarks</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" rows="5" id="txtRemarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">
                                        Attachments
                                    </h3>

                                    <button class="btn btn-default pull-right">
                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><span class="badge">12</span> Photos</li>
                                        <li class="list-group-item"><span class="badge">5</span> Documents</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="input-2" class="col-lg-3 control-label">Availability</label>
                        <div class="col-lg-6">
                            <input id="chkAvailability" type="checkbox" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="type" class="col-lg-3 control-label">Registered On</label>
                        <div class="col-lg-7">
                            @(Html.Kendo().DatePicker()
                                  .Name("dtRegisterOn")
                                  .Value(DateTime.Today)
                                  .HtmlAttributes(new {style = "width: 100%"})
                                  )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary col-lg-3" id="btnBorrow" disabled>
                            Borrow
                        </button>
                        <button type="button" id="btnDeedBrowse" class="btn btn-primary col-lg-3" style="margin-left: 10px;">
                            Browse
                        </button>
                        <button type="button" class="btn btn-success col-lg-3 save-deed" style="margin-left: 10px;">
                            Save Changes
                        </button>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="modal fade" tabindex="-1" id="addGranteeModel" role="dialog">
    <div class="modal-dialog grantee-model">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="fmGrantee">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Grantee</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageGrantee"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGranteeUserName" class="col-lg-4 control-label">Name</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGranteeUserName" type="text" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGranteeAddress" class="col-lg-4 control-label">Address</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGranteeAddress" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGranteeEmail" class="col-lg-4 control-label">Email</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGranteeEmail" type="email" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGranteeContactNo" class="col-lg-4 control-label">Telephone</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGranteeContactNo" type="tel" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGranteeNIC" class="col-lg-4 control-label">NIC</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGranteeNIC" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-grantee">Save changes</button>
            </div>
             </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" id="addGrantorModel" role="dialog">
    <div class="modal-dialog grantor-model">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  id="fmGrantor">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Grantor</h4>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageGrantor"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGrantorUserName" class="col-lg-4 control-label">Name</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGrantorUserName" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGrantorAddress" class="col-lg-4 control-label">Address</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGrantorAddress" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGrantorEmail" class="col-lg-4 control-label">Email</label>
                                        <div class="col-lg-8">
                                            <input type="email" class="form-control" id="txtGrantorEmail" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGrantorContactNo" class="col-lg-4 control-label">Contact Number</label>
                                        <div class="col-lg-8">
                                            <input type="tel" class="form-control" id="txtGrantorContactNo" type="text" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGrantorNIC" class="col-lg-4 control-label">NIC</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtGrantorNIC" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-grantor">Save changes</button>
            </div>
             </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="displayMultipleDeedSearchResult" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body"> 
                    
                <div class="row">
                    <div class="col-lg-12">
                        <div id="grdDeedMultipleResult"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="browseModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  id="fmBrowse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Browse Deeds</h4>
            </div>
            <div class="modal-body"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageBrowse"></div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-12">
                         
                            <div class="row"> 
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                     <label for="ddlBrowseType" class="col-lg-3 control-label">Type</label>
                                                    <div class="col-lg-7">
                                                        <input id="ddlBrowseType"  style="width: 100%;" />
                                                    </div>                                                                                 
                                            </div>
                                        </div>                           
                                    </div>       
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                             <div class="form-group">
                                                <label for="ddlBrowseGrantee" class="col-lg-3 control-label">Grantee</label>
                                                <div class="col-lg-7">
                                                    <input id="ddlBrowseGrantee"  style="width: 100%;"/>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="ddlBrowseGrantor" class="col-lg-3 control-label">Grantor</label>
                                                <div class="col-lg-7">
                                                    <input id="ddlBrowseGrantor"  style="width: 100%;"/>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>  
                        </div>
                        <div class="row"> 
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                     <label for="txtBrowseDeedNo" class="col-lg-3 control-label">Deed No</label>
                                                    <div class="col-lg-7">
                                                        <input class="form-control" id="txtBrowseDeedNo" type="text" style="width: 100%;">
                                                    </div>                                                                             
                                            </div>
                                        </div>                           
                                    </div>       
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                             <div class="form-group">
                                                <label for="ddlBrowseDistrict" class="col-lg-3 control-label">District</label>
                                                <div class="col-lg-7">
                                                    <input id="ddlBrowseDistrict"  style="width: 100%;"/>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                 <label for="txtBrowseNameOfLand" class="col-lg-3 control-label">Name of Land</label>
                                                    <div class="col-lg-7">
                                                        <input class="form-control" id="txtBrowseNameOfLand" type="text" style="width: 100%;">
                                                    </div>  
                                            </div>
                                        </div>
                                </div>
                            </div>  
                        </div>
                        <div class="row"> 
                             <div class="col-lg-4">
                                       
                            </div>
                            <div class="col-lg-4">
                                
                            </div>
                             <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                 <button type="button" class="btn btn-primary col-lg-3" id="btnBrowseSearch">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>  
                        </div>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="grdBrowseMultipleResult"></div>
                    </div>
            </div>
       
            </div> <!-- modal-body-->
            <div class="modal-footer">
                
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="borrowModel" role="dialog">
    <div class="modal-dialog borrow-model">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  id="fmBorrow">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Borrow Deeds</h4>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageBorrow"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtBorrowUserName" class="col-lg-4 control-label">Name</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtBorrowUserName" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtBorrowNIC" class="col-lg-4 control-label">NIC</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtBorrowNIC" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtBorrowPIN" class="col-lg-4 control-label">PIN</label>
                                        <div class="col-lg-8">
                                            <input type="tel" class="form-control" id="txtBorrowPIN" type="text" maxlength="4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-borrow">Save changes</button>
            </div>
             </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
