@{
    ViewBag.Title = "Draft Center";
    ViewBag.Current = "DraftCenter";
}
<div>
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4">
                <h4>DRAFT MANAGER</h4>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Case No">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                        <div class="demo-section k-content">
                            <h4>Template explorer</h4>
                            <div id="treeview-left"></div>
                        </div>
                </div>
                <div class="col-lg-6">
                   <div>Template Preview</div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
      

        // $("#ddlGrantee").kendoDropDownList({
        //     dataTextField: "Name",
        //     dataValueField: "ID",
        //     optionLabel: "Select a Grantee",
        //     index: 0
        // });

    });
</script>