@{
    ViewBag.Title = "Case Ledger";
    ViewBag.Current = "CaseLedger";
}
<div>
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4">
                <h4>CASE LEDGER <span>2015-16</span></h4>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="txt-search-case-no" placeholder="Case No">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btn-search-case">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="ddlType" class="col-lg-3 control-label">Type</label>
                            <div class="col-lg-7">
                                <input id="ddlType" value="1" style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ddlParty" class="col-lg-4 control-label">Party</label>
                            <div class="col-lg-6">
                                <input id="ddlParty" value="1" style="width: 100%;" />
                            </div>
                            <button type="button" class="btn btn-default col-lg-1" data-toggle="modal" data-target="#addPartyModel">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="txtCaseNo" class="col-lg-3 control-label">Case No</label>
                            <div class="col-lg-7">
                                <input class="form-control" id="txtCaseNo" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ddlCourt" class="col-lg-4 control-label">Court</label>
                            <div class="col-lg-6">
                                <input id="ddlCourt" value="1" style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="type" class="col-lg-3 control-label">Start Date</label>
                            <div class="col-lg-7">
                                @(Html.Kendo().DatePicker()
                                      .Name("dtStartDate")
                                      .Value(DateTime.Today)
                                      .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="txtTotalFee" class="col-lg-4 control-label">Total Fee</label>
                            <div class="col-lg-6">
                                <input class="form-control" id="txtTotalFee" type="text" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="txtDescription" class="col-lg-3 control-label">Description</label>
                            <div class="col-lg-7">
                                <textarea class="form-control" rows="5" id="txtDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-6">
                                <div class="demo-section k-content">
                                    <input name="files" id="files" type="file" />
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="badge">12</span> Photos</li>
                                            <li class="list-group-item"><span class="badge">5</span> Documents</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="txtFee" class="col-lg-10 control-label">Add new step</label>
                            <button type="button" class="btn btn-default col-lg-1" data-toggle="modal" data-target="#addStepModel">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div id="caseSteps"></div>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input id="chkSendReminders" type="checkbox" checked>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="ddlParty" class="control-label">Send automatic text reminders to the client on each next step</label>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary">
                                        Browse
                                    </button>
                                    <button type="button" class="btn btn-success save-case" style="margin-left: 10px;">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addStepModel" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Step</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtStepName" class="col-lg-4 control-label">Step Name</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtStepName" type="text">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="type" class="col-lg-4 control-label">Due On</label>
                                        <div class="col-lg-8">
                                            @(Html.Kendo().DatePicker()
                                            .Name("dtDueOnDate")
                                            .Value(DateTime.Today)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ddlUsers" class="col-lg-4 control-label">By Whom</label>
                                        <div class="col-lg-8">
                                            <select id="ddlUsers" multiple="multiple" data-placeholder="Select user(s)">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtFee" class="col-lg-4 control-label">Fee</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtFee" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtFee" class="col-lg-4 control-label">Send Notification</label>
                                        <div class="col-lg-8">
                                            <input id="chkNotification" type="checkbox" checked>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ddlStatus" class="col-lg-4 control-label">Status</label>
                                        <div class="col-lg-8">
                                            <input id="ddlStatus" value="1" style="width: 100%;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-step">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" id="addPartyModel" role="dialog">
    <div class="modal-dialog party-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Party</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtUserName" class="col-lg-4 control-label">Name</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtUserName" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtAddress" class="col-lg-4 control-label">Address</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtAddress" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtEmail" class="col-lg-4 control-label">Email</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtEmail" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtTelephone" class="col-lg-4 control-label">Telephone</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtTelephone" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-party">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Template for display user details inside grid-->
<script id="usersTemplate" type="text/x-kendo-template">
    # for (var i = 0, length = ByWhom.length ;i < length; i++) { #
    <span>
        #= ByWhom[i].Name #
        # if(i !== length -1) { #
        |
        # } #
    </span>
    # } #

    # if(ByWhom.length > 0) { #
    <a href='\\#'>
        <span class="glyphicon glyphicon-calendar pull-right"></span>
    </a>
    # } #
</script>

<!-- Template for display status -->
<script id="statusTemplate" type="text/x-kendo-template">
    # if(Status == 1) { #
    <span class='glyphicon glyphicon-thumbs-down pull-right'></span>
    # } #
    # if(Status == 2) { #
    <span class='glyphicon glyphicon-thumbs-up pull-right'></span>
    # } #
</script>