@{
    ViewBag.Title = "Case Ledger";
    ViewBag.Current = "CaseLedger";
}
<div>
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4">
                <h4>CASE LEDGER <span>2015-16</span></h4>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="txt-search-case-no" placeholder="Case No">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="btn-search-case">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="ddlType" class="col-lg-3 control-label">Type</label>
                            <div class="col-lg-7">
                                <input id="ddlType"  style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="ddlParty" class="col-lg-4 control-label">Party</label>
                            <div class="col-lg-7">
                                <input id="ddlParty"  style="width: 100%;" />
                            </div>
                            <button type="button" class="btn btn-default col-lg-1" data-toggle="modal" data-target="#addPartyModel">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="txtCaseNo" class="col-lg-3 control-label">Case No</label>
                            <div class="col-lg-7">
                                <input class="form-control" id="txtCaseNo" type="text" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="ddlCourt" class="col-lg-4 control-label">Court</label>
                            <div class="col-lg-7">
                                <input id="ddlCourt"  style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="dtStartDate" class="col-lg-3 control-label">Start Date</label>
                            <div class="col-lg-7">
                                @(Html.Kendo().DatePicker()
                                      .Name("dtStartDate")
                                      .Value(DateTime.Today)
                                      .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="txtTotalFee" class="col-lg-4 control-label">Total Fee</label>
                            <div class="col-lg-7">
                                <input class="form-control" id="txtTotalFee" type="text" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="txtDescription" class="col-lg-3 control-label">Description</label>
                                <div class="col-lg-7">
                                    <textarea class="form-control" rows="5" id="txtDescription"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                        <div class="form-group">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-7">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title pull-left">
                                            Attachments
                                        </h3>
                                        <button class="btn btn-default pull-right" id="btnUploadPopup">
                                            <i class="glyphicon glyphicon-plus-sign"></i>
                                        </button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item" id="liPhotos"><span class="badge" id="spnPhotos">0</span> Photos</li>
                                            <li class="list-group-item" id="liDocuments"><span class="badge" id="spnDocuments">0</span> Documents</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                            <div class="panel panel-default step-panel">
                                <div class="panel-heading">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default pull-left" data-toggle="collapse" data-target="#collapse1" style="margin-left:10px;">
                                            <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                        </button>
                                        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addStepModel" style="margin-left:10px;margin-right:10px;">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <label  class="control-label pull-right">Add new step</label>
                                    </div>
                                    
                                </div>
                                <div class="clearfix"></div>
                                <div id="collapse1" class="panel-collapse collapse">
                                   <div id="caseSteps"></div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input id="chkSendReminders" type="checkbox" checked>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <label for="ddlParty" class="control-label">Send automatic text reminders to the client on each next step</label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="btnCaseBrowse">
                                        Browse
                                    </button>
                                    <button type="button" class="btn btn-success save-case" style="margin-left: 10px;">
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addStepModel" role="dialog">
    <div class="modal-dialog step-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Next Step</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="val-message-sep-model"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtNextStep" class="col-lg-4 control-label">Next Step</label>
                                        <div class="col-lg-8">
                                            <input type="hidden" id="hdnStepId">
                                            <input class="form-control" id="txtNextStep" type="text">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="type" class="col-lg-4 control-label">Due On</label>
                                        <div class="col-lg-8">
                                            @(Html.Kendo().DatePicker()
                                            .Name("dtDueOnDate")
                                            .Value(DateTime.Today)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ddlUsers" class="col-lg-4 control-label">By Whom</label>
                                        <div class="col-lg-8">
                                            <select id="ddlUsers" multiple="multiple" data-placeholder="Select User(s)">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtFee" class="col-lg-4 control-label">Fee</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtFee" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtFee" class="col-lg-4 control-label">Send Notification</label>
                                        <div class="col-lg-8">
                                            <input id="chkNotification" type="checkbox" checked>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ddlStatus" class="col-lg-4 control-label">Status</label>
                                        <div class="col-lg-8">
                                            <input id="ddlStatus" value="1" style="width: 100%;" />
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="save-step">Save Changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" id="addPartyModel" role="dialog">
    <div class="modal-dialog party-model">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Party</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="val-message-add-party"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtUserName" class="col-lg-4 control-label">Name</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtUserName" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtAddress" class="col-lg-4 control-label">Address</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtAddress" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtEmail" class="col-lg-4 control-label">Email</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtEmail" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtContactNumber" class="col-lg-4 control-label">Contact Number</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtContactNumber" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="save-party">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" id="addStepTasks" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Tasks</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="val-message"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtTaskDescription" class="col-lg-4 control-label">Description</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtTaskDescription" type="text">
                                            <input id="hdnNextItemId" type="hidden">
                                            <input id="hdnTaskId" type="hidden">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="dtTaskDueOnDate" class="col-lg-4 control-label">Due On</label>
                                        <div class="col-lg-8">
                                            @(Html.Kendo().DatePicker()
                                            .Name("dtTaskDueOnDate")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="chkTaskStatus" class="col-lg-4 control-label">Status</label>
                                        <div class="col-lg-8">
                                            <input class="chkTaskStatus" type="checkbox" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="ddlTaskUsers" class="col-lg-4 control-label">By Whom</label>
                                        <div class="col-lg-8">
                                            <select id="ddlTaskUsers" multiple="multiple" data-placeholder="Select User(s)"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        
                                    </div>
                                    <div class="col-lg-8 pull-right">
                                        <button type="button" class="btn btn-primary pull-right" id="add-step-items">Add/Update Task Item</button>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="grdStepsTasks"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-save-close-steps">Save & Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="displayMultipleCaseSearchResult" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div id="grdCaseMultipleResult"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="browseModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  id="fmBrowse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Browse Cases</h4>
            </div>
            <div class="modal-body"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageBrowse"></div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-12">
                         
                            <div class="row"> 
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                     <label for="ddlBrowseType" class="col-lg-3 control-label">Type</label>
                                                    <div class="col-lg-7">
                                                        <input id="ddlBrowseType"  style="width: 100%;" />
                                                    </div>                                                                                 
                                            </div>
                                        </div>                           
                                    </div>       
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                             <div class="form-group">
                                                <label for="ddlBrowseParty" class="col-lg-3 control-label">Party</label>
                                                <div class="col-lg-7">
                                                    <input id="ddlBrowseParty"  style="width: 100%;"/>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                            
                                        </div>
                                </div>
                            </div>  
                        </div>
                        <div class="row"> 
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                     <label for="txtBrowseCaseNo" class="col-lg-3 control-label">Case No</label>
                                                    <div class="col-lg-7">
                                                        <input class="form-control" id="txtBrowseCaseNo" type="text" style="width: 100%;">
                                                    </div>                                                                             
                                            </div>
                                        </div>                           
                                    </div>       
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                             <div class="form-group">
                                                <label for="ddlBrowseCourt" class="col-lg-3 control-label">Court</label>
                                                <div class="col-lg-7">
                                                    <input id="ddlBrowseCourt"  style="width: 100%;"/>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="row">
                                        <div class="col-lg-12">
                                              <div class="form-group">
                                                 <button type="button" class="btn btn-primary col-lg-3" id="btnBrowseSearch">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>  
                        </div>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="grdBrowseMultipleResult"></div>
                    </div>
            </div>
       
            </div> <!-- modal-body-->
            <div class="modal-footer">
                
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="uploadModel" role="dialog">
    <div class="modal-dialog upload-model">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  id="fmUpload">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload Files</h4>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageUpload"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        
                                        <div class="col-lg-8 k-content">
                                           <input name="caseFileUpload" id="caseFileUpload" type="file" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary" id="save-borrow">Save changes</button>-->
            </div>
             </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" id="viewAttachmentModel" role="dialog">
    <div class="modal-dialog viewAttachment-model">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  id="fmViewAttachment">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Attachments</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                    <div id="grdViewAttachments"></div>
                </div>
             </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary" id="save-borrow">Save changes</button>-->
            </div>
             </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="addEventModel" role="dialog">
    <div class="modal-dialog event-model">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  id="fmEvent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Event</h4>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <div class="col-lg-12">
                        <div id="val-messageEvent"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtEventTitle" class="col-lg-4 control-label">Title</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="txtEventTitle" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="dtStartDateTime" class="col-lg-4 control-label">Start</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="dtStartDateTime"/>                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtGrantorEmail" class="col-lg-4 control-label">End</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="dtEndDateTime"/>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="txtEventDescription" class="col-lg-4 control-label">Description</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" rows="3" id="txtEventDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ddlEventAttendees" class="col-lg-4 control-label">Attendees</label>
                                        <div class="col-lg-8">
                                            <select id="ddlEventAttendees" multiple="multiple" data-placeholder="Select Attendee(s)"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-event">Save changes</button>
            </div>
             </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Template for display user details inside grid-->
<script id="usersTemplate" type="text/x-kendo-template">
    # for (var i = 0, length = ByWhom.length ;i < length; i++) { #
    <span>
        #= ByWhom[i].Name #
        # if(i !== length -1) { #
        |
        # } #
    </span>
    # } #

</script>

<!-- Template for display user details inside grid-->
<script id="taskUsersTemplate" type="text/x-kendo-template">
    # for (var i = 0, length = ByWhom.length ;i < length; i++) { #
    <span>
        #= ByWhom[i].Name #
        # if(i !== length -1) { #
        |
        # } #
    </span>
    # } #
</script>

<!-- Template for display status -->
<script id="statusTemplate" type="text/x-kendo-template">
    # if(IsPending) { #
    <span class='glyphicon glyphicon-thumbs-down pull-right'></span>
    # }else{ #
    <span class='glyphicon glyphicon-thumbs-up pull-right'></span>
    # } #
</script>