@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>SignalR with ASP.NET</h1>
    <p class="lead">Demonstrates how you can use SignalR with ASP.NET WebJobs to communicate back to a website from the webjob.</p>
    <p><a href="@Url.Action("CreateJob")" class="btn btn-primary btn-lg">Start a New Job &raquo;</a></p>
</div>

